{{ if .Site.Params.issoHost }}
  <style type="text/css" media="screen">
    .isso section {
      margin: 0px;
    }
  </style>
{{ end }}
<div class="main post non-narrow zero-top-spacing column">
    <div class="container">
        <div class="content">
            <div class="front-matter">
                <hr>
                <div class="title-container">
                    {{ partial "page-heading" . }}
                </div>
                <div class="meta">
                    <div class="date" title="{{ .Date.Format .Site.Params.dateformfull }}">{{ .Date.Format .Site.Params.dateform }}</div>
                    {{ if not .Params.noauthor }}
                        {{ if .Params.author }}
                        <div class="author middot" title="{{ .Params.Author }}">{{ .Params.author }}</div>
                        {{ end }}
                    {{ end }}
                    {{ if not .Site.Params.noreadingtime }}
                    <div class="reading-time middot">Tempo de leitura: {{ .ReadingTime }} min.</div>
                    {{ end }}
                    {{ if .Site.Params.tagicons }}
                      <div class="tags tag-icons">
                    {{ else }}
                      <div class="tags">
                    {{ end }}
                        <ul>
                          {{ range .Params.tags }}
                            <li class="middot"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
                          {{ end }}
                        </ul>
                    </div>
                    <div class="tags">
                        <ul>
                          {{ if isset .Params "hacker_news_id" }}
                            {{ if ne .Params.hacker_news_id "" }}
                              <li class="middot"><a href="https://news.ycombinator.com/item?id={{ .Params.hacker_news_id }}">Hacker News</a> </li>
                            {{ end }}
                          {{ end }}
                          {{ if isset .Params "lobsters_id" }}
                            {{ if ne .Params.lobsters_id "" }}
                              <li class="middot"><a href="https://lobste.rs/s/{{ .Params.lobsters_id }}">Lobsters</a> </li>
                            {{ end }}
                          {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="markdown">
                {{ partial "content" . }}
            </div>
            {{ if .Site.Params.share }}
            <br>
            <div class="share">
                  {{ if .Site.Params.share_on_fb | default true }}
                  <a href="" class="ssk ssk-facebook"></a>
                  {{ end }}
                  {{ if .Site.Params.share_on_twitter | default true }}
                  <a href="" class="ssk ssk-twitter"></a>
                  {{ end }}
                  {{ if .Site.Params.share_on_googleplus | default true }}
                  <a href="" class="ssk ssk-google-plus"></a>
                  {{ end }}
                  {{ if .Site.Params.share_on_linkedin | default true }}
                  <a href="" class="ssk ssk-linkedin"></a>
                  {{ end }}
            </div>
            {{ end }}
            {{ if .Site.Params.posts_navigation }}
            <br>
            <div class="navigation">
                {{ if .PrevInSection }}
                <div>
                    <img class="icon" src="/img/back.svg" alt="back" />
                    <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
                </div>
                {{ end }}
                <div style="width: 100%;"></div>
                {{ if .NextInSection }}
                <div>
                    <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
                    <img class="icon" src="/img/next.svg" alt="next" />
                </div>
                {{ end }}
            </div>
            {{ end }}
            {{ if .Site.DisqusShortname }}
            <br>
            <div class="disqus">
                {{ template "_internal/disqus.html" . }}
            </div>
            {{ end }}

            <!-- utteranc -->
            {{ if .Site.Params.utteranc.enable }}
            <div class="post bg-white">
                <script src="https://utteranc.es/client.js"
                    repo= "{{ .Site.Params.utteranc.repo }}"
                    issue-term="{{ .Site.Params.utteranc.issueTerm }}"
                    theme="{{ default "github-light" .Site.Params.utteranc.theme }}"
                    crossorigin="anonymous"
                    async>
                </script>
            </div>
            {{ end }}

            {{ if .Site.Params.issoHost }}
            <br>
            <div class="isso" id="isso-thread"></div>
            <script
                data-isso="//{{ .Site.Params.issoHost }}/"
                data-isso-css="true"
                data-isso-lang="{{ .Site.LanguageCode }}"
                src="//{{ .Site.Params.issoHost }}/js/embed.min.js"
            ></script>
            {{ end }}

            {{ if .Site.Params.commentoHost }}
            <br>
            <div id="commento"></div>
            <script src="//{{ .Site.Params.commentoHost }}/js/commento.js"></script>
            {{ end }}
        </div>
    </div>
</div>
