<div class="footer column">
    <div class="container">

        <div class="icons">

        {{ if .Site.Params._500px }}
            <a href="https://500px.com/{{ .Site.Params._500px }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/500px.svg" alt="500px" />
            </a>
        {{ end }}

        {{ if .Site.Params.itch_io }}
            <a href="https://{{ .Site.Params.itch_io }}.itch.io" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/itch.io.svg" alt="itch.io" />
            </a>
        {{ end }}

        {{ if .Site.Params.gitlab }}
            <a href="https://gitlab.com/{{ .Site.Params.gitlab }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/gitlab.svg" alt="gitlab" />
            </a>
        {{ end }}

        {{ if .Site.Params.instagram }}
            <a href="https://www.instagram.com/{{ .Site.Params.instagram }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/instagram.svg" alt="instagram" />
            </a>
        {{ end }}

        {{ if .Site.Params.facebook }}
            <a href="https://facebook.com/{{ .Site.Params.facebook }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/facebook.svg" alt="facebook" />
            </a>
        {{ end }}

        {{ if .Site.Params.github }}
            <a href="https://github.com/{{ .Site.Params.github }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/github.svg" alt="github" />
            </a>
        {{ end }}

        {{ if .Site.Params.twitter }}
            <a href="https://twitter.com/{{ .Site.Params.twitter }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/twitter.svg" alt="twitter" />
            </a>
        {{ end }}

        {{ if .Site.Params.linkedin }}
            <a href="https://www.linkedin.com/in/{{ .Site.Params.linkedin }}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/linkedin.svg" alt="linkedin" />
            </a>
        {{ end }}

        {{ if .Site.Params.keybase }}
            <a href="https://keybase.io/{{ .Site.Params.keybase}}" rel=me target="_blank">
                <img class="icon" src="{{ .Site.BaseURL }}img/keybase.svg" alt="keybase" />
            </a>
        {{ end }}

        {{ if .Site.Params.email }}
            <a href="mailto:{{ .Site.Params.email }}">
                <img class="icon" src="{{ .Site.BaseURL }}img/email.svg" alt="email" />
            </a>
        {{ end }}

        {{ if .Site.RSSLink }}
            <a href="{{ .Site.RSSLink }}">
                <img class="icon" src="{{ .Site.BaseURL }}img/rss.svg" alt="rss" />
            </a>
        {{ end }}

        </div>
    </div>
</div>

{{ partial "footer_scripts" . }}

</body>
</html>
