<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>

{{ if (or (.Site.Params.small_banner_logo) (and (.IsPage) (not (.Site.Params.large_banner_logo)))) }}
<div class="header column">
{{ else }}
<div class="header header-home column">
{{ end }}
    <div class="container">
        {{ if (not (isset .Site.Params "logofile")) }}
        <a href="https://github.com/mtn/cocoa-eh-hugo-theme/wiki/Configuration#logo">Logo HOWTO</a>
        {{ else if ne .Site.Params.logofile "" }}
        <a href="{{ .Site.BaseURL }}"><img class="logo" src="{{ .Site.Params.logofile | relURL }}" alt="logo"></a>
        {{ end }}
        <div class="content">
            <a href="/"><div class="name"><h1>{{ .Site.Title }}</h1></div></a>
            <nav>
                <div class="descr">
                <p>Jornalista de dados <a href="https://rr.sapo.pt/">@Renascença</a>. Rstats, web dev, open data e jornalismo.</p>
                <p>Escreve sobre tudo, sabe quase nada. Deveria estar a acabar a tese.</p>
                </div>
            </nav>
        </div>
    </div>
</div>
